.TeacherMainPageBody .user-space form.create-course-form{
    width: 25em;
}



.create-course-form{
    margin-top:7em;
}

.create-course-form .row{
    margin: 1em 0;
}

.create-course-form .row .input-div{
    padding-right: 0;
}

.create-course-form  .row .label-div{
    padding-left: 0;
}