.orange-yellow-theme .dark-primary-color{
	/* dark background */
	background-color: #F57C00;
}

.orange-yellow-theme .primary-color{
	/* ordinary background */
	background-color: #FF9800;
}

.orange-yellow-theme .light-primary-color{
	/* light background */
	background-color: #FFE0B2;
}

.orange-yellow-theme .text-icons{
	/* for ordinary text */
	color: #212121;
}

.orange-yellow-theme .accent-color{
	/* for emphesis on a text */
	color: #FFEB3B;
}

.orange-yellow-theme .secondary-text{
	/* for second type text */
	color: #757575;
}

.orange-yellow-theme .divider-color{
	/* to divide spaces */
	background-color: #757575;
}
