body {
    background-image: url('../../../UiLayer/OriginPage/src/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-image: url("../../../UiLayer/OriginPage/src/header-wallpaper.jpg") !important;
}